<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>291155062023-1n893oh4529bpeahni5lgh29jbo9g0u0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291155062023-1n893oh4529bpeahni5lgh29jbo9g0u0</string>
	<key>API_KEY</key>
	<string>AIzaSyAa3F-QTxpG0VzihDgmBxjlraL0iBc10Kg</string>
	<key>GCM_SENDER_ID</key>
	<string>291155062023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.martapiatek.ConfApp</string>
	<key>PROJECT_ID</key>
	<string>confapp-9b208</string>
	<key>STORAGE_BUCKET</key>
	<string>confapp-9b208.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291155062023:ios:c36f8eb6933a9aa1</string>
	<key>DATABASE_URL</key>
	<string>https://confapp-9b208.firebaseio.com</string>
</dict>
</plist>